# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment
.env
.env.*.local

# Hardhat
/cache
/artifacts

# TypeChain
/typechain
/typechain-types

# Coverage
/coverage
/coverage.json

# Build / output
/dist
/build

# Ignition local deployments
ignition/deployments/chain-31337

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db
